body
{   
    background-image: url("img/iphone12.png");
    background-repeat: no-repeat;
    background-position: right top;
    margin-right:700px;
    background-attachment: fixed;
}  

.bonusbox
{
    background-image:url("img/bonusbox.png");
    background-repeat: no-repeat;
    background-size: 120px 120px;
    margin-left: auto;
}
.size
{
    height:500px;
    width:500px;
    
      
}
.buttonq 
{
    background-image:url("img/bonusbox2.png");
    height:300px;
    width:300px;
    border-radius: 8px;
    border: 2px white;
    cursor: pointer;
    margin-left: 540px;

}
.gallery 
{   width:500px;
    height:500px;
    
    margin-left: 20px;
    

}
.form{
    margin-left: 550px;
}
  
